.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    text-align: center;
}
.signup-card{
    width: 25rem;
    /* height: 45rem; */
    border: 1px solid black;
    padding: 1rem   ;
}

.bottom-card{
    width: 25rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid black;    

}

@media only screen and (max-width:500px){
    .signup-card{
        width: 100%;
    }
    .bottom-card{
        width: 100%;
    }
}